<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About teams</title>

  <!-- 
    - favicon link
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../assets/css/about.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet">




    <style>
      
      .dropdown {
        position: relative;
        display: inline-block;
      
        box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.2);
        transition: var(--transition-1);
      
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background: var(--raisin-black-1);
        width: 100%;
        min-width: 95px;
        top: 6.3ch;
        z-index: 2;
        border-right: 5px hsl(31, 100%, 51%) solid;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: rgb(223, 223, 223);
        padding: 12px 10px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background: var(--raisin-black-1);
        color: hsl(31, 100%, 51%);;
      }
      
      .dropdown:hover .dropdown-content {display: block;}
      
      #logvis{
        visibility: hidden;
      }
          </style>

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header">

    <!-- 
      - overlay
    -->
    <div class="overlay" data-overlay></div>

    <div class="container">

      <a href="#" class="logo">
        <img src="../assets/images/logo.svg" alt="GameX logo">
      
      </a>
      <button class="nav-open-btn" data-nav-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-nav>

        <div class="navbar-top">

          <a href="#" class="logo">
            <img src="../assets/images/logo.svg" alt="GameX logo">
          </a>

          <button class="nav-close-btn" data-nav-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="/home" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="/about" class="navbar-link">About</a>
          </li>

          <li>
            {{ if .isnotAuthorized }}
            <a href="/tournament-list" class="navbar-link">Tournament</a>
            {{else}}
            <a href="/teams/tournaments" class="navbar-link">Tournament</a>
            {{end}}
          </li>

          
          <li>
            <a href="auth/logi" class="navbar-link" id="logvis">Login</a>
          </li>
          <!-- {{ if .isnotAuthorized }}
          <li>
            <a href="/login" class="navbar-link">Login</a>
            {{ else }}
            <a href="" class="navbar-link">{{ .full_name }}</a>
          </li>
          {{ end }} -->
        </ul>
      </nav>

      <div class="header-actions">

        <button class="search">
          <ion-icon name="search-outline"></ion-icon>
        </button>
        {{ if .isnotAuthorized }}
        <a href="/auth/logi"><button class="btn-sign_in">

          <div class="icon-box">
            <ion-icon name="log-in-outline"></ion-icon>
          </div>

          <span>Log-in</span>
        </button>
      </a>
      {{ else }}
        <div class="dropdown">
          <button class="btn-sign_in">

            <div class="icon-box">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <span>{{.teamname}}</span>
            {{if eq .role "user" }}
            <div class="dropdown-content"> 
              <a href="/teams/team/profile?id={{.Team_id}}">Team Profile</a>
              <a href="/lout">Logout</a>
            </div>
            {{else}}
            <div class="dropdown-content"> 
              <a href="/teams/team/profile?id={{.Team_id}}">Team Profile</a>
              <a href="/admin/teams">Admin</a>
              <a href="/lout">Logout</a>
            </div>
            {{end}}
          </button>
        </div>
      {{ end }}
  </div>

    </div>
  </header>





  <main>
    <article>





      <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>product list</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->




        



        
        <!-- 
          - #GEARS
        -->

        <section style="padding-top: 150px;" class="gears" id="gears">


          <div class="container">

            <h2 class="h2 section-title">About Us</h2>

            <center>
        
            </center>


            
        



            <ul class="gears-list">

              <li>
                <div class="gears-card">

                  <div class="card-banner">

                    <a href="#">
                      <img style="width: 220px; height: 220px; border-radius: 50%;" src="../assets/images/imo.png" alt="Headphone">
                    </a>

                    <button class="share">
                      <ion-icon name="share-social"></ion-icon>
                    </button>

                    <div class="card-time-wrapper">
                      

                      <span>Backend dev</span>
                    </div>

                  </div>

                  <div class="card-content">

                    <div class="card-title-wrapper">

                      <h3 class="h3 card-title">Ospanov Imangali</h3>

                      <p class="card-subtitle">e-sports</p>

                    </div>

                    <div class="card-prize">21 yo</div>

                  </div>

                 

                </div>
              </li>

              <li>
                <div class="gears-card">

                  <div class="card-banner">

                    <a href="#">
                      <img style=" width: 220px; height: 220px; border-radius: 50%;" src="../assets/images/6.png" alt="Mobile Dev">
                    </a>

                    <button class="share">
                      <ion-icon name="share-social"></ion-icon>
                    </button>

                    <div class="card-time-wrapper">
                      

                      <span>mobile dev</span>
                    </div>

                  </div>

                  <div class="card-content">

                    <div class="card-title-wrapper">

                      <h3 class="h3 card-title">Khismet Bexultan</h3>

                      <p class="card-subtitle">e-sports</p>

                    </div>

                    <div class="card-prize">21 yo</div>

                  </div>

                  

                </div>
              </li>

              <li>
                <div class="gears-card">

                  <div class="card-banner">

                    <a href="#">
                      <img style="width: 220px; height: 220px; border-radius: 50%;"  src="../assets/images/baga.png" alt="Gaming mask">
                    </a>

                    <button class="share">
                      <ion-icon name="share-social"></ion-icon>
                    </button>

                    <div class="card-time-wrapper">
                      

                      <span>Frontend dev</span>
                    </div>

                  </div>

                  <div class="card-content">

                    <div class="card-title-wrapper">

                      <h3 class="h3 card-title">Babazhan Bagdaulet</h3>

                      <p class="card-subtitle">e-sports</p>

                    </div>

                    <div class="card-prize">21 yo</div>

                  </div>

                  

                </div>
              </li>

            </ul>







              





          </div>
        </section>





        <!-- 
          - #NEWSLETTER
        -->

        <section class="newsletter">
          <div class="container">

            <div class="newsletter-card">

              <div class="newsletter-content">
                <figure class="newsletter-img">
                  <img src="./assets/images/newsletter-img.png" alt="Newsletter image">
                </figure>

                <h2 class="h2 newsletter-title">Our Goals</h2>
              </div>

              <div class="newsletter-form">
                <div class="input-field"> Creating a website for online tournaments can be a rewarding endeavor that brings together gamers, fosters competition, and builds a vibrant community. <br>
                <b>User Experience:</b> Prioritize creating an intuitive and visually appealing website interface that ensures a smooth and enjoyable experience for participants, viewers, and administrators.<br>
                <b>Tournament Management:</b> Build robust backend functionality that allows tournament organizers to create and manage tournaments efficiently. <br>
                <b>Participant Engagement:</b> Implement features that enhance participant engagement and encourage competition.  

              </div>
            <!-- <input type="email" name="email" required placeholder="Your Email Address" class="input-field">

            <button type="submit" class="btn btn-secondary">Subscribe</button> -->

              </div>


            </div>

          </div>
        </section>

      </div>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer>

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="#" class="logo">
            <img src="./assets/images/logo.svg" alt="GameX logo">
          </a>

          <div class="footer-menu-wrapper">

            <ul class="footer-menu-list">

              <li>
                <a href="#hero" class="footer-menu-link">Home</a>
              </li>

              <li>
                <a href="#about" class="footer-menu-link">About</a>
              </li>

              <li>
                <a href="#tournament" class="footer-menu-link">Tournament</a>
              </li>

        

            </ul>

            <div class="footer-input-wrapper">
              <input type="text" name="message" required placeholder="Find Here Now" class="footer-input">

              <button class="btn btn-primary">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </div>

          </div>

        </div>

        <div class="footer-quicklinks">

          

          <ul class="footer-social-list">

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-discord"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-twitch"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-xbox"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="footer-social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

   

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="btn btn-primary go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>


  <!-- 
    - ionicon link
  -->
  <script src="../assets/js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>